/*
 * css/header.css
 * TEACO
 * Teaco Header Styling
*/

/* Header/Navbar styling */
header {
    text-align: center;
    background-color: #FFFFFF;
    z-index: 5;
}

nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    width: 72vw;
}

.nav-item {
    margin: auto;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    opacity: 0.82;
    transition: opacity 0.01s ease;
}

.nav-item:hover {
    opacity: 1;
}

.nav-item:active {
    opacity: 0.6;
}

.nav-item.homepage {
    opacity: 1;
}

.nav-item.homepage img.logo {
    object-fit: contain;
    width: 8vw;
    min-width: 2.4em;
}

nav .icon.hamburger, nav .icon.cancel {
    display: none;
}

/* Fixed header on scroll */
header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
}

header.fixed .nav-item img.logo {
    width: 4vw;
}

/* Responsive Header */
@media only screen and (max-width: 600px) {
    /* Collapsed Responsive Header */
    header nav {
        display: block;
        text-align: center;
        width: 100vw;
    }
    
    header nav .icon.hamburger {
        position: relative;
        top: 0.8em;
        left: 0.8em;
        display: block;
        object-fit: contain;
        float: left;
    }

    header nav .nav-item {
        display: none;
        margin: 0;
    }

    .nav-item.homepage {
        position: relative;
        display: inline-block;
        right: 0.5em;
    
    }

    /* Expanded Responsive Header */
    header.expanded {
        position: fixed;
    }

    header.expanded nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        width: 100vw;
        min-height: 12em;
    }

    header.expanded .nav-item.homepage {
        position: static;
    }


    header.expanded nav .icon.hamburger {
        display: none;
    }

    header.expanded nav .icon.cancel {
        display: inline-block;
    }

    header.expanded nav .nav-item {
        display: block;
    }

    header.expanded nav .nav-item.homepage {
        display: block;
        order: -100;
    }
}

