/*
 * css/teaco.css
 * TEACO
 * Teaco Main Styles
*/

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.icon {
    object-fit: contain;
}

.tea_wrapper {
    padding: 0 2% 0 2%;
    display: flex;
}

.tea_container {
    display: flex;
    justify-content: left;
    background-color: #f6f5d7;
    background-image: url(../images/teaBG.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
}

.tea_text {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.tea_desc_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}
.tea_title {
    color: #7EBDC2;
    font-weight: 700;
    font-size: 6em;
    width: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    font-family: 'Gentium Basic', sans-serif;
}

.tea_caption {
    color: #323029;
    font-family: 'Open Sans', serif;
    font-size: 3.6em;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.product_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #a9d5cb;
    margin-bottom: 4%;
}

.product {
    width: 100%;
    height: 100%;
    padding: 3% 0 3% 0;
}

.product1 {
    background-color: #a9d5cb;
}

.product2 {
    background-color: #FF8552;
}

.product3 {
    background-color: #297373;
}

.product_name {
    color: #323029;
    text-align: center;
    font-weight: 800;
    font-size: 3.5em;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.product_desc {
    color: #303637;
    font-family: 'Gentium Basic', serif;
    font-size: 2.4em;
    margin: 1% 10% 1% 10%;
    padding: 0;
}

.tea {
    width: 25%;
    height: 80vh;
    background-color: #EEEBDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0 1% 0;
    border-radius: 7px;
    margin: auto;
    transition: all 0.35s ease;   
}

.tea_button {
    color: white;
    background-color: rgba(229, 115, 115, 0.8);
    letter-spacing: .5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 1.8% 2%;
    width: 30%;
    font-size: 1.7em;
    border: 0;
    opacity: 0;
}

.tea_button1 {
    background-color: rgba(229, 115, 115, 0.8);
}

.tea_button:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgba(229, 115, 115, 1);

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 750px) {
    .products {
        flex-direction: column;
    }
    .tea {
        width: 95%;
        margin-bottom: 2%;
    }

    .tea_container {
        justify-content: space-around;
    }

    .tea_text {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }

    .tea_desc_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 75vh;
        width: 100%;
    }

    .buttonDiv {
        width: 35%;
    }

    .tea_title {
        font-size: 3em;
        text-align: center;
        color: #eb9486;
    }

    .tea_caption {
        font-size: 2em;
        text-align: center;
    }

    .tea_button {
        font-size: 1.3em;
        height: 7vh;
        width: 80%;
        flex-shrink: 0;
    }


    .tea_wrapper {
        padding: 0;
    }

    .tea_hover {
        width: 100%;
    }
}

@media screen and (min-width: 750px) {
    .tea:hover {
        width: 28%;
        height: 83vh;
        transition: all 0.35s ease;
    }
}