/*
 * css/teaco.css
 * TEACO
 * Teaco Main Styles
*/

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.icon {
    object-fit: contain;
}

main {
    text-align: center;
}

